body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  padding-top: 2rem;
  margin: 0 auto;
  width: 600px;
}
.container {
  background-color:bisque;
  padding: 20px 20px;
  border-radius: 5px;
}
.chat {
  display: flex;
  flex-direction: column;
  background-color: ivory;
  border-radius: 5px;
  list-style: none;
  padding: 20px 20px;
  height: 200px;
}
.message {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color:lightblue;
  padding: 15px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.bot-message {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 200px;
  background-color:cornflowerblue;
  padding: 15px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}